/* ---------- GERAL ---------- */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ECECEC;
}

/* ---------- CABEÇALHO ---------- */
#cabecalho {
  text-align: center;
  height: 170px;
  background-color: #F9C200;
}

#cabecalho > h1 {
  padding: 26px 0;
  font-size: 42px;
  font-weight: 600;
  color: #FFF;
}

#cabecalho > h1 > span { color: #534A41; }

#cabecalho > #menu {
  padding: 24px;
  display: block;
}

#cabecalho a {
  margin-left: 14px;
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  text-decoration: none;
}

#cabecalho a:hover {
  color: #F9C200;
  background-color: #FFF;
}

/* ---------- CORPO ---------- */
#corpo {
  width: 80%;
  margin: auto;
}

#corpo > div {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* CONTEÚDOS ---------- */
#corpo > #conteudos {
  width: 61%;
  margin-left: 30px;
  background-color: #FFF;
  float: left;
}

#corpo .conteudo {
  width: 100%;
  margin: 5px auto;
  padding: 5px;
  padding-bottom: 10px;
}

.conteudo * { margin: 10px 5px; }
.conteudo:nth-child(1), .conteudo:nth-child(2) { border-bottom: 15px solid #ECECEC; }
.conteudo > h2, .conteudo > a { color: #F9C200; }
.conteudo p:nth-child(2) { font-weight: 600; }
.conteudo > p, .conteudo > a { font-size: 14px; }
.conteudo > img { width: 95%; }

.conteudo > a {
  margin: 0;
  padding: 5px;
  font-weight: 600;
  text-decoration: none;
}

.conteudo a:hover { text-decoration: underline; }

/* POSTAGENS RECENTES ---------- */
#corpo > #postagens_recentes {
  width: 30%;
  margin-right: 30px;
  background-color: #FFF;
  float: right;
}

.postagem:nth-child(1), .postagem:nth-child(2) { border-bottom: 5px solid #ECECEC; }
.postagem *, #categorias * { margin: 10px 5px; }
.postagem > p, .postagem > a { font-size: 14px; }

.postagem > p {
  max-width: 90%;
  margin: 10px auto;
  margin-bottom: 20px;
}

.postagem > h3, #categorias > h3 {
  margin: 10px;
  padding: 10px;
  color: #534A41;
  background-color: #ECECEC;
}

.postagem > a {
  padding: 5px;
  color: #F9C200;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  left: 5px;
  bottom: 10px;
}

.postagem a:hover { text-decoration: underline; }

/* CATEGORIAS ---------- */
#corpo > #categorias {
  width: 30%;
  margin-right: 30px;
  background-color: #FFF;
  float: right;
}

#categorias > div { margin-left: 10px; }

#categorias a {
  padding: 5px;
  display: block;
  color: #F9C200;
  font-weight: 600;
  text-decoration: none;
}

#categorias a:hover { text-decoration: underline; }

/* LIMPAR ---------- */
#limpar { clear: both; }

/* ---------- RODAPÉ ---------- */
#rodape {
  text-align: center;
  background-color: #534A41;
}

#rodape h5 {
  padding: 14px;
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
}
